<div data-bind="with: title">
    <h2 data-bind="text: primaryTitle"></h2>
    <img width="300" height="418" data-bind="attr: { src: poster }">
    
    <div class="border border-primary border-success border-3" data-bind="text: plot"></div>

    <div data-bind="click: $parent.goToEpisodes">
        <div data-bind="text: episodesUrl"></div>
    </div>
    <div data-bind="click: $parent.goToParent">
        <div data-bind="text: parentUrl"></div>
    </div>
    <table class="table table-hover">
        <tbody data-bind="foreach: popularActors">
            <tr data-bind="click: $parentContext.$parent.goToActor">
                <td data-bind="text: $data"></td>
            </tr>
        </tbody>
    </table>
</div>
