﻿<h1>Create New User</h1>

 <div class="col-6">
     Name: <input class="form-control" data-bind="value: name" required />
     First Name: <input class="form-control" data-bind="value: firstname" />
     Last Name: <input class="form-control" data-bind="value: lastname" required />
     Email: <input class="form-control" data-bind="value: email" />
     Sex: <input class="form-control" data-bind="value: sex" required />
     Password: <input class="form-control" data-bind="value: plaintxtpwd" />
     <button data-bind="click: add" class="btn btn-primary">Add</button>
 </div> 