﻿<h1>Best Rated Titles</h1>

<table class="table">
    <thead>
        <tr><th>total</th><th>prev</th><th>current</th><th>next</th><th>items</th></tr>
    </thead>
    <tbody data-bind="foreach: bestratedtitles">
        <tr>
            <!-->der er noget galt her-->
            <td data-bind="text: total"></td>
            <td data-bind="text: prev"></td>
            <td data-bind="text: current"></td>
            <td data-bind="text: next"></td>
            <td data-bind="text: items"></td>
        </tr>
    </tbody>
</table>