﻿<h1>Best Rated Titles</h1>

<div class="container-fluid padding table-responsive">
<div class="row text-center padding" data-bind="foreach: bestratedtitles">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2" data-bind="click: $parent.goToTitle">
            <img width="160" height="200" data-bind="attr: { src: image }">
            <h3 data-bind="text: name"></h3>
            <h4 data-bind="text: rating"></h4>       
    </div>
</div>
</div>

<div>
    <button data-bind="click: showPrev" enable: enablePrev>Prev</button>
    <button data-bind="click: showNext" enable: enableNext>Next</button>
</div>

<br/>
