﻿<h1>Best Rated Actors</h1>

<table class="table">
    <thead>
        <tr><th>URL</th><th>ID</th><th>Name</th><th>Rating</th></tr>
    </thead>
    <tbody data-bind="foreach: bestratedactors">
        <tr>
            <td>
                <div data-bind="foreach: items">
                    <div data-bind="text: url"></div>
                </div>
            </td>
            <td>
                <div data-bind="foreach: items">
                    <div data-bind="text: id"></div>
                </div>
            </td>
            <td>
                <div data-bind="foreach: items">
                    <div data-bind="text: name"></div>
                </div>
            </td>
            <td>
                <div data-bind="foreach: items">
                    <div data-bind="text: rating"></div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<div data-bind="foreach: bestratedactors">
    <li data-bind="text:total"></li>
    <li data-bind="text:prev"></li>
    <li data-bind="text:current"></li>
    <li data-bind="text:next"></li>
</div>